<!-- <div class="box filterPanel">
    <div class="boxInner">
        <div class="boxTitle">
            <a href="#" class="folderCtrl" onclick="folderExpand(this);"></a>
            <h3>Filter</h3>
        </div>
        <div class="boxContent">
            <div class="boxFilterBody">
                <div class="cellRow requireSameHeightCell">
                    <div class="cell firstCell">
                        <h3>Name</h3>
                        <div class="cellBody">
                            <input type="text" id="txtname" />
                        </div>
                    </div>
                    <div class="clearAll">
                    </div>
                </div>
            </div>
        </div>
      </div>
   </div> -->
