                    <div id="container" ng-controller="guardmodule">
                        <div class="containerBox">
                            <div class="containerBoxR">
                                <div class="containerInner">
                                    <div>
                                        <table class="BreadCrumAndMenu">
                                            <tr>
                                                <td class="BreadCrumColumn">
                                                    <!-- breadcrum -->
                                                    Home <span style='padding-left: 2px'><a href="#"><img src="images/icon-breadcrumb.png" /></a></span>  Guard Module
                                                </td>
                                                <td class="SubMenuColumn" id="divSubMenu"></td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="pageDetails">
                            <!-- page html -->
                            <div class="containerBox">
                                <div class="containerBoxR">
                                    <div class="containerInner">
                                        <div id="pageTitle">
                                            <h2>Guard Module</h2>
                                        </div>
                                        <br />
                                        <table width="100%">
                                            <tr>
                                                <td style="width: 12%">
                                                    <div class="receptioncolumn">
                                                        <div class="receptioncolumnHeader">
                                                            <h2>
                                                                Guard Menus
                                                            </h2>
                                                            <div class="receptioncolumnContent">
                                                                <div id="content" class="singleColumn">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td style="width: 88%">
                                                    <div class="receptioncolumn">
                                                        <div class="receptioncolumnHeader">
                                                            <h2>
                                                                Information
                                                            </h2>
                                                            <div class="receptioncolumnContent">
                                                                <div id="content" class="singleColumn">
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>